@import "tailwindcss";

body {
    font-family: sans-serif;
}

.app {
    background: black;
    font-weight: 100;
}

.log-button {
    border-radius: 25px;
    font-size: xx-large;
    color: white;
    margin: 4px;
    padding: 4px;
}

.log-button:hover {
    background-color: rgb(20, 110, 110);
    border-color: black;
}

.log-button:active {
    background-color: rgb(20, 110, 110);
    border-color: black;
}

.log-button:focus {
    background-color: rgb(20, 110, 110);
    border-color: black;
}

.user-form {
    display: flex;
    background-color: grey;
    flex-direction: column;
    padding: 12px;
    border-radius: 6px;
}

.h1 {
    font-weight: 100;
}